@charset "utf-8";

/* S : 기본 레이아웃 */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem; 
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
/* E : 기본 레이아웃 */


/* S : 슬라이드 */
.carousel {
    margin-bottom: 8rem !important;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    color: var(--bs-body-color);
}
.carousel-caption.slide03{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.carousel-caption h2 {
    margin-bottom: 20px;
}
.carousel-caption .btn {
    margin-top: 30px;
}
/* E : 슬라이드 */

.row {
    margin-bottom: 8rem;
}

/* S : 소개 */
.intro p {
    font-size: 1.25rem;
}
/* E : 소개 */