@charset "utf-8";

/*  E : 회원가입 */
.form-signin {
    max-width: 330px;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
/*  E : 회원가입  */

/*  S : review-detail  */
.review-detail .card {
    max-width: 700px;
}
/*  E : review-detail  */

/*  S : qna-detail  */
.qna-detail .btn-group .btn {
    max-width: 300px;
}
/*  E : qna-detail  */

/*  S : event  */
/* 출석 체크 캘린더 */

.event .calendar {
    gap: 20px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffd8e2;
    border: 1px solid #E11D48;
    border-radius: 0.5rem;
}

.event .calendar > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #ffa4b8;
    border-radius: 50%;
    overflow: hidden;
}

/* 출석하지 않은 날 (링크) */
.event .calendar > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

/* 출석한 날 */
.event .calendar > li.attended {
    background-color: #E11D48;
    color: transparent; /* 숫자는 보이지 않게 숨김 */
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    border: none;
}

/* 출석한 날에 하트만 표시 */
.event .calendar > li.attended::after {
    content: '🤍';  /* 하트 이모지만 추가 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 32px;  /* 하트 크기 */
    color: white;  /* 하트 색상 */
    text-align: center;
    line-height: 60px;  /* 하트가 원 안에서 중앙에 오도록 */
}

/* 출석하지 않은 날 */
.event .calendar > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.event .btn-group .btn {
    max-width: 300px;
}
/*  E : event  */